[Unit]
  Description=themisd
  StartLimitIntervalSec=500
  StartLimitBurst=5
[Service]
  Restart=on-failure
  RestartSec=5s
  WorkingDirectory=/usr/local/bin
  ExecStart=/usr/local/bin/themisd start --home /var/lib/themis \
    --chain=mainnet \
    --rest-server
  Type=simple
  LimitNOFILE=65536
  User=themis
[Install]
  WantedBy=multi-user.target
